<div> 
  <% @bookmarks.each { |bookmark| %> 
    <p><%= bookmark %></p>
  <% } %> 
</div>
<div>
  <form action="/" method="post">
    <label>Add a new bookmark</label>
    <input type="text" name="Bookmark">
    <input type="submit" value="Submit">
  </form>
</div>
