<div>
  <h2>Add a bookmark</h2>
  <form action="/add" method="post">
    <label for="bookmark">Add a url</label>
    <input type="text" name="bookmark">
    <label for="title">Add a title</label>
    <input type="text" name="title">
    <input type="submit" value="Submit">
  </form>
</div>

<div> 
  <% @bookmarks.each { |title, url| %> 
    <a href="<%= url %>"><%= title %></a>
  <% } %> 
</div>


